In [16]:
print(y)

NameError: ignored

In [13]:
data = pd.read_csv("Data.csv")
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

numpy merupakan library phyton digunakan untuk komputasi matriks